name: CI
'on':
  - push
jobs:
  mysql_57:
    runs-on: ubuntu-22.04
    services:
      mysql:
        image: mariadb:lts
        env:
          MARIADB_ALLOW_EMPTY_PASSWORD: yes
          MARIADB_ROOT_PASSWORD: 123456
          MARIADB_DATABASE: fedaco_test
        ports:
          - 3306:3306
        options: --health-cmd="healthcheck.sh --connect --innodb_initialized" --health-interval=10s --health-timeout=5s --health-retries=3
      postgresql:
        image: postgres:14
        env:
          POSTGRES_DB: fedaco_test
          POSTGRES_USER: root
          POSTGRES_PASSWORD: 123456
        ports:
          - 5432:5432
        options: --health-cmd=pg_isready --health-interval=10s --health-timeout=5s --health-retries=3
    strategy:
      matrix:
        node:
          - '20'
    name: Node ${{ matrix.node }} sample
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 5 # Not needed if lastUpdated is not enabled
      - uses: pnpm/action-setup@v4
        name: Setup pnpm
        with:
          run_install: false
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "${{ matrix.node }}"
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        
      - name: test fedaco
        env:
          DB_HOST: 127.0.0.1
          DB_PORT: 3306
          DB_USER: root
          DB_PASSWORD: "123456"
          DB_DATABASE: 'fedaco_test'
          DB_COLLATION: utf8mb4_unicode_ci
          PG_PORT: 5432
        run: |
          pnpm nx test --project fedaco
          
